.home_body {
    width: 100%;
    margin: auto;
    position: relative;
}

.home_body > img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
}

.header {
    margin: auto;
    font-size: 8cqw;
    font-weight: bold;
    color: white;
    font-family: 'Verdana';
    text-align: center;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
    transition: color 0.3s;
    cursor: default;
}   

.header > span {
    display: inline-block;
    width: auto; 
    transition: transform 0.3s;
}

.header:hover {
    color: forestgreen;
}

.header:hover > span:nth-child(1) {
    transform: translate(-70%, 10%);
}

.header:hover > span:nth-child(2) {
    transform: translate(-60%, -10%);
}

.header:hover > span:nth-child(3) {
    transform: translate(-50%, 10%);
}

.header:hover > span:nth-child(4) {
    transform: translate(-40%, -10%);
}

.header:hover > span:nth-child(5) {
    transform: translate(-20%, 10%);
}

.header:hover > span:nth-child(6) {
    transform: translate(-10%, -10%);
}

.header:hover > span:nth-child(7) {
    transform: translate(0%, 10%);
}

.header:hover > span:nth-child(8) {
    transform: translate(20%, 10%);
}

.header:hover > span:nth-child(9) {
    transform: translate(30%, -10%);
}

.header:hover > span:nth-child(10) {
    transform: translate(40%, 10%);
}

.header:hover > span:nth-child(11) {
    transform: translate(50%, -10%);
}

.header:hover > span:nth-child(12) {
    transform: translate(60%, 10%);
}

.header-2 {
    font-size: 5cqw;
    color: white;
    margin: auto;
    font: Verdana;
    text-align: center;
    font-weight:bold;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
    cursor: default;
}