{% extends "base.html" %}
{% block title %}Save The Trees - Admin Dashboard{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <section class="home2" id="home2">
            <div class="container">
                <div class="text-box">
                    <h1>ADMIN DASHBOARD</h1>
                </div>
                            <div class="navbar-right">
        <span class="navbar-text">Welcome, {{ username }}!</span>
    </div>
                           <li><a  href="/logout">Sign Out</a></li>
            </div>
        </section>
    </body>
{% endblock %}
