<!DOCTYPE html>
<html>
<head>
    <title>Save The Trees</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/home.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-success shadow">
    <a class="navbar-brand font-weight-bold" href="#">PLANT-A-TREE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Donate</a>
            </li>
        </ul>
    </div>
    <button type="button" id="cartbtn" class="btn btn-secondary navbar-right navbar-btn" data-bs-toggle="popover"
            data-bs-placement="bottom" data-bs-custom-class="cart_popover" data-bs-content="Test"
            onmouseover="loadCart()">Cart</button>
</nav>

{% block content %}{% endblock %}

<script>
    const cart_popover = new bootstrap.Popover(document.getElementById("cartbtn"))
    function loadCart(){
        try{cart = JSON.parse(localStorage["cart"])}
        catch{
            localStorage["cart"] = []
            cart=[]
        }
        for(i in cart){
            item = cart[i]
            console.log(item)
        }
    }
</script>
</body>
</html>
