{% extends "form_base.html" %}

{% block form %}
<form action="/process_checkout" class="payment-form" method="post">
    <h1>Checkout</h1><br>
    <table class="table" id="checkout_table">
        <tr><th>#</th><th>Item</th><th>Unit price</th><th>Quantity</th><th>Total price</th></tr>
    </table>
    <div>
        <b>Total payable:</b> &dollar;{{price_format}}
    </div>
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button m-auto"  id="xx"
            data-key="{{ publishable_key }}"
            data-description="Checkout"
            data-amount={{stripe_price}}
            data-locale="auto">
    </script>
    <input type="hidden" name="amount" id="amount_input" value={{stripe_price}}>
  </form>

<script>

    console.log('x');
    var amount = 0

    try {cart = JSON.parse(localStorage["cart"])}
        catch {
            localStorage["cart"] = []
            window.location.replace("/products")
        }

        var table = document.getElementById('checkout_table');

    for (var i = 0; i < cart.length; i++) {
        var item = cart[i];
        var rowNumber = i + 1;

        var row = document.createElement('tr');

        row.innerHTML = '<td>' + rowNumber + '</td><td>' + item[1] + '</td><td>' + '$' + item[2].toFixed(2) + '</td><td>' + item[3] + '</td><td>' + '$' + (item[2] * item[3]).toFixed(2) ;

        console.log(row);
        table.appendChild(row);
    }

    console.log(cart);
    var stripe = Stripe('{{ publishable_key }}');
    var elements = stripe.elements();

    var cardElement = elements.create('card');
    cardElement.mount('#card-element');

    var form = document.getElementById('payment-form');

    form.addEventListener('submit', function(event) {
        event.preventDefault();

        stripe.createToken(cardElement).then(function(result) {
            if (result.error) {
                // Display error messages to the user
                var errorElement = document.getElementById('card-errors');
                errorElement.textContent = result.error.message;
            } else {
                console.log(result.token)
                // Token created successfully, send it to the server
                stripeTokenHandler(result.token);
            }
        });
    });

    function stripeTokenHandler(token) {
        var form = document.getElementById('payment-form');
        var hiddenInput = document.createElement('input');
        hiddenInput.setAttribute('type', 'hidden');
        hiddenInput.setAttribute('name', 'stripeToken');
        hiddenInput.setAttribute('value', token.id);
        const cart_input = document.createElement('input');
        cart_input.setAttribute('type', 'hidden');
        cart_input.setAttribute('name', 'cart');
        cart_input.setAttribute('value', localStorage['cart']);
        form.appendChild(hiddenInput);
        form.appendChild(cart_input);
        form.submit();
    }
</script>

{% endblock %}
