{% extends "base.html" %}

{% block content %}
 {% include navbar_template %}
  <link rel="stylesheet" href='static/home.css'>
  <div class="home_body">
    <img src="{{url_for('static', filename='images/vector_bg.png')}}">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <br><br>
      <div class="alert alert-success w-25 m-auto">
          {% for message in messages %}
            {{ message }}
          {% endfor %}
      </div>
    {% endif %}
    {% endwith %}
    <div class="row">
      <div class="header">
        <span>S</span><span>A</span><span>V</span><span>E</span> <span>T</span><span>H</span><span>E</span> <span>T</span><span>R</span><span>E</span><span>E</span><span>S</span>
      </div>
    </div>
    
    <span class="navbar-text">Welcome, {{ username }}!</span><br>

    <div class="container mt-5 m-auto">
      {% if orders %}
      <h1 class="m-auto" style="text-align: center;">Your donations</h1><br>
      <table class="table table-dark w-50 m-auto">
      <thead>
          <tr>
              <th>Message</th>
              <th>Quantity</th>
              <th>Planted</th>
          </tr>
      </thead>
                  <tbody>
                      {% for order in orders %}
                          <tr {% if order.satisfied == 1 %}style="background-color: darkgreen;"{% else %}style="background-color: darkred;"{% endif %}>
                              <td>{{ order.message }}</td>
                              <td>{{ order.quantity }}</td>
                              <td>{% if order.satisfied == 1 %} Planted {% else %}Not planted yet{% endif %}</td>
                          </tr>
                      {% endfor %}
                  </tbody>
              </table>
          {% else %}
              <div class="alert alert-info">
                  There are no orders.
              </div>
          {% endif %}
      </div> 
    <a href="/logout" target="_blank">Logout</a>
        </section>
    </body>
{% endblock %}
