{% extends "base.html" %}
{% block title %}PokeImpact - Dashboard{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
            <div class="navbar-right">
        <span class="navbar-text">Welcome, {{ username }}!</span>
    </div>
        <section class="home" id="home">
            <div class="container">
                <div class="text-box">
                    <h1>STT</h1>
                    <h3>Save trees</h3>
                                               <li><a  href="/logout">Sign Out</a></li>
                </div>
            </div>
        </section>
        <section title="about-us" class="about-us" id="about-us">
            <p class="home_page_store_header">About Us</p>


            </div>
        </section>
        <section id="banner2" class="section-m1">
            <h2>Visit our amazing stores</h2>
        </section>
    </body>
{% endblock %}
