{% extends "form_base.html" %}

{% block form %}
    <link rel="stylesheet" href='static/home.css'>
    <form method="POST" action="">
        {{ form.csrf_token }}
        <h1>Delete Account ◐</h1>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-danger m-auto">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        <br>

        <p>Are you sure you want to delete your account?</p>

        {{ form.delete(class="btn btn-danger") }}
        <br>
        <a href="{{ url_for('dashboard') }}" class="btn btn-secondary">Go Back</a>
    </form>
{% endblock %}
