{% extends "form_base.html" %}

{% block form %}
    <form method="POST" enctype="multipart/form-data">
    {{ form.csrf_token }}
      <h1>Review ◐</h1>

      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <br><br>
        <div class="alert alert-dark w-25 m-auto dismissible" onclick="dismiss(this)">
            {% for message in messages %}
              {{ message }}
            {% endfor %}
        </div>
      {% endif %}
      {% endwith %}

      <div class='row-sm-3'>
        <label>Rating</label>
        {{form.rating(class="form-control")}}
      </div>
      
      <div class="form-group">
        <label>Comment</label>
        {{form.comment (class="form-control")}}
      </div>
    
      <div class="form-group">
        <label>Image</label>
        {{form.image(class='form-control-file')}}
      </div>

      {{form.submit}}
    </form>
{% endblock %}
