<!--by v.-->

{% extends "base.html" %}

{% block content %}
  <link rel="stylesheet" href='static/home.css'>
  <div class="home_body">
    <img src="{{url_for('static', filename='images/vector_bg.png')}}">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <br><br>
      <div class="alert alert-success w-25 m-auto">
          {% for message in messages %}
            {{ message }}
          {% endfor %}
      </div>
    {% endif %}
    {% endwith %}
    <div class="row">
      <div class="header">
        <span>S</span><span>A</span><span>V</span><span>E</span> <span>T</span><span>H</span><span>E</span> <span>T</span><span>R</span><span>E</span><span>E</span><span>S</span>
      </div>
    </div>
    <div class="row mb-2" style="margin-top:-3cqh;">
      <div class="header-2">Will you join us today?</div>
    </div>
    <div class="row justify-content-center mt-3">
      <a href="{{ url_for('payment_1') }}" class="btn btn-dark btn-lg">
        Donate
      </a>
      <a href="{{ url_for('login') }}" class="btn btn-dark btn-lg ml-3">
        Log in
      </a>
  </div>
{% endblock %}
