<!--by v.-->

{% extends "base.html" %}

{% block content %}
  <style>
    .carousel-container {
            width: 50%;
            margin:auto;
            margin-top:20px;
            background-color:white;
            border: 1px solid black;
            border-radius: 20px;
            display: flex;
            padding: 20px;
        }

        .event-image {
            width:50%;
        }

        .event-text-container {
            width:50%;
        }

        .event-title {
            text-align:center;
        }

        .event-description {
            text-align:center;
        }
  </style>
  <link rel="stylesheet" href='static/home.css'>
  <div class="home_body">
    <img src="{{url_for('static', filename='images/vector_bg.png')}}">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <br><br>
      <div class="alert alert-dark w-25 m-auto dismissible" onclick="dismiss(this)">
          {% for message in messages %}
            {{ message }}
          {% endfor %}
      </div>
    {% endif %}
    {% endwith %}
    <div class="row">
      <div class="header">
        <span>S</span><span>A</span><span>V</span><span>E</span> <span>T</span><span>H</span><span>E</span> <span>T</span><span>R</span><span>E</span><span>E</span><span>S</span>
      </div>
    </div>
    <div class="row mb-2" style="margin-top:-3cqh;">
      <div class="header-2">Will you join us today?</div>
    </div>
    <div class="row justify-content-center mt-3">
      <a href="{{ url_for('login') }}" class="btn btn-dark btn-lg ml-3">
        Log in to start donating
      </a>
      <a href="{{ url_for('leaderboard') }}" class="btn btn-dark btn-lg ml-3">
        View top donations
      </a>
  </div>

  <div class="row mt-4 w-75 justify-content-center m-auto">

    <div class="col-md-4 w-25">
      <div class="card card-special">
        <div class="card-body">
          <h5 class="card-title">Events</h5>
          <p class="card-text card-text-special">Attend events with like-minded individuals supporting the environmental cause.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 w-25">
      <div class="card card-special">
        <div class="card-body">
          <h5 class="card-title">Merchandise</h5>
          <p class="card-text card-text-special">Buy some shirts and hats to show your support.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 w-25">
      <div class="card card-special">
        <div class="card-body">
          <h5 class="card-title">Donate</h5>
          <p class="card-text card-text-special">Buy your very own trees and send a message alongside it.</p>
        </div>
      </div>
    </div>
  </div>
  <br>

  <div class="leaderboard">
    <div class="row">
    <h4 class="leaderboard-title">Recent donations</h4>
    <a href="/leaderboard"><h4 class="leaderboard-title mx-2">View biggest donors</h4></a>
    </div>
    {% for entry in entries %}
    <div class="entry">
      <h4>{{ entry['name'] }}</h4>
      <h5>Donated {{ entry['trees_donated'] }} trees.</h5>
      <div class="message">{{ entry['message'] }}</div>
    </div>
    {% endfor %}
  </div>
</div>
{% if events_len > 0 %}
<h1 class="m-auto" style="text-align:center;">Events</h1>
<div class="carousel-container">
  <img class="event-image" src="{{url_for('static', filename='images/' + events[0][5])}}">
  <div class="mx-2 event-text-container">
      <h1 class="mx-auto event-title">{{events[0][1]}}</h1>
      <div class="mx-2 event-description">{{events[0][3]}}</div>
      <br>
      <div class="mx-2 row">
          <button class="btn btn-success next-button mx-2" onclick="next_event()">Next</button>
          <button class="btn btn-success previous-button mx-2" onclick="previous_event()">Previous</button>
      </div>
  </div>
</div>
{% endif %}
</body>

<script>
  var events = {{events|tojson}};
  console.log(events)
  var index = 0;
  console.log(index);  
  var event_image = document.getElementsByClassName('event-image')[0];
  var event_title = document.getElementsByClassName('event-title')[0];
  var event_description = document.getElementsByClassName('event-description')[0];

  function next_event() {
    index = (index + 1) % events.length;
    console.log(index)
    console.log('z')
    console.log(events[index])
    event_image.src = 'static/images/' + events[index][5]
    event_title.innerText = events[index][1]
    event_description.innerText = events[index][3]
  }

  function previous_event() {
    index = (index + events.length - 1) % events.length;
    console.log(events[index])
    event_image.src = 'static/images/' + events[index][5]
    event_title.innerText = events[index][1]
    event_description.innerText = events[index][3]
  }

  function dismiss(div) {
    console.log(div);
    div.style.display = "none";
  }
</script>
{% endblock %}
