<!--by v.-->

{% extends "base.html" %}

{% block content %}
  <link rel="stylesheet" href='static/home.css'>
  <div class="home_body">
    <img src="{{url_for('static', filename='images/vector_bg.png')}}">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <br><br>
      <div class="alert alert-success w-25 m-auto">
          {% for message in messages %}
            {{ message }}
          {% endfor %}
      </div>
    {% endif %}
    {% endwith %}
    <div class="row">
      <div class="header">
        <span>S</span><span>A</span><span>V</span><span>E</span> <span>T</span><span>H</span><span>E</span> <span>T</span><span>R</span><span>E</span><span>E</span><span>S</span>
      </div>
    </div>
    <div class="row mb-2" style="margin-top:-3cqh;">
      <div class="header-2">Will you join us today?</div>
    </div>
    <div class="row justify-content-center mt-3">
      <a href="{{ url_for('payment_1') }}" class="btn btn-dark btn-lg">
        Donate
      </a>
      <a href="{{ url_for('login') }}" class="btn btn-dark btn-lg ml-3">
        Log in
      </a>
  </div>

  <div class="row mt-4 w-75 justify-content-center m-auto">

    <div class="col-md-4 w-25">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Events</h5>
          <p class="card-text">Attend events with like-minded individuals supporting the environmental cause.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 w-25">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Merchandise</h5>
          <p class="card-text">Buy some shirts and hats to show your support.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 w-25">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Donate</h5>
          <p class="card-text">Buy your very own trees and send a message alongside it.</p>
        </div>
      </div>
    </div>
  </div>

</div>

<style>
  h5 {
    background-color:rgb(57, 57, 57);
    color: white;
    font-family:'Trebuchet MS';
    text-align:center;
    padding-block:10px;
  }

  .card {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: rgba(0,0,0,0.0);
    border:none;
  }

  .card-text {
    background-color: white;
    padding:20px;
    display: flex;
    flex-direction: column;
    height: 80%;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.1));
    border-radius: 5px;
  }

</style>
{% endblock %}
