{% extends "form_base.html" %}

{% block form %}

    <form method="POST" action="">
      {{ form.csrf_token }}
      <h1>Login ◐</h1>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="alert alert-danger m-auto">
            {% for message in messages %}
              {{ message }}
            {% endfor %}
        </div>
      {% endif %}
      {% endwith %}
      <div class='form-group'>
        <label>Username</label>
        {{ form.username(class="form-control", placeholder="Enter username") }}
      </div>

      <div class='form-group'>
        <label>Password</label>
        {{ form.password(type="password", class="form-control", placeholder="Enter password") }}
      </div>
        {{ form.submit(class="btn btn-success") }}<br>
        <a href='/signup'>Sign up</a>
    </form>
{% endblock %}
