{% extends "form_base.html" %}

{% block form %}
    <form method="POST" action="">
      {{ form.csrf_token }}
      <h1>Login ◐</h1>
      <div class='form-group'>
        <label>Username</label>
        {{ form.username(class="form-control", placeholder="Enter username") }}
      </div>

      <div class='form-group'>
        <label>Password</label>
        {{ form.password(class="form-control", placeholder="Enter password") }}
      </div>
      
        {{ form.submit() }}
    </form>
{% endblock %}
