{% extends "form_base.html" %}

{% block form %}
    <form method="POST" action="">
      {{ form.csrf_token }}


      <h1>Payment ◐</h1>
      <div class='form-group'>
        <div class='row'>
          <div class='col'>
            <label for="payment-fname">First name</label>
            {{ form.payment_fname(class="form-control", placeholder="Enter first name") }}
          </div>
          <div class='col'>
            <label for="payment-lname">Last name</label>
            {{ form.payment_lname(class="form-control", placeholder="Enter last name") }}
          </div>
        </div>
      </div>

      <div class='row-sm-3'>
        <label>Quantity (<span id="payment_calculator">This will cost ... </span>)</label>
        {{form.payment_quantity(class="form-control")}}
      </div>
      
      <div class="form-group">
        <label for="payment-message">Write a message</label>
        {{ form.payment_message(class="form-control") }}
        <small id="message-help" class="form-text text-muted">Optional. This will be displayed publicly.</small>
      </div>
    
      <div class="form-check">
        {{ form.payment_anonymous(class="form-check-input") }}
        <label class="form-check-label" for="payment-anonymous">Remain anonymous</label>
      </div>

        {{ form.payment_submit() }}
    </form>
    <script>
      console.log('test')
      var qty = document.getElementById('payment_quantity')
      var cost = document.getElementById('payment_calculator')
      qty.addEventListener("input", updateValue)
      function updateValue(e) {
        cost.textContent = `This will cost $${e.target.value * 5}.`
      }
    </script>
{% endblock %}
