{% extends "payment_base.html" %}

{% block payment_form %}
    <form method="POST" action="">
        {{ form.csrf_token }}
        <h1>Payment ◑</h1>
        
        <div class="form-group">
            <label for="payment-cc-no">Credit Card Number</label>
            {{ form.payment_cc_no(class="form-control", placeholder="Enter credit card number") }}
        </div>
        
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label for="payment-expiration-month">Month</label>
                    {{ form.payment_expiration_month(class="form-control", placeholder="MM") }}
                </div>
                <div class="col">
                    <label for="payment-expiration-year">Year</label>
                    {{ form.payment_expiration_year(class="form-control",  placeholder="YYYY")}}
                </div>
                <div class="col">
                  <label for="payment-cvv">CVV</label>
                    {{ form.payment_cvv(class="form-control", placeholder="CVV") }}
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <label for="payment-billing-address-1">Billing Address</label>
            {{ form.payment_billing_address_1(class="form-control", placeholder="Line 1") }}
            {{ form.payment_billing_address_2(class="form-control mt-2", placeholder="Line 2") }}
        </div>
        
        {{ form.payment_submit() }}
    </form>
{% endblock %}
