{% extends "form_base.html" %}
{% from "includes/_formHelper.html" import render_field %}
{% block form %}
<div class="container-fluid">
<form method="POST">
    {{ form.csrf_token }}
    <h3>Products</h3>
    <div class="form-group">
        <div class="row">
            {{ form.search_name(class="col-sm-8 col-md-10 form-control", placeholder="Product Name", id="search_name") }}

            <input type="button" value="Submit" onclick="search()" class="btn btn-primary"/>
        </div>
    </div>
</form>
<div id="results"></div>
<script>
    function search(){
        var xhttp = new XMLHttpRequest();
        const search_name = document.getElementById("search_name").value
        xhttp.open("POST", "rest/products", true);
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("results").innerText = this.responseText;
                console.log(JSON.parse(this.responseText))
                let results = JSON.parse(this.responseText)["result"]
                document.getElementById("results").innerHTML = ""
                for(i in results){
                    console.log(results[i])
                    const item = results[i]
                    const r = document.createElement("div")
                    r.setAttribute("class", "row")
                    const pic = document.createElement("img")
                    pic.setAttribute("class", "")
                    pic.setAttribute("src", "/static/images/products/"+item[0]+".png")
                    r.appendChild(pic)
                    product_name = document.createElement("h6")
                    product_name.innerText = item[0]
                    r.appendChild(product_name)
                    description = document.createElement("p")
                    description.innerText = item[2]
                    r.appendChild(description)
                    unit_price = document.createElement("p")
                    unit_price.innerText = item[1]
                    r.appendChild(unit_price)
                    stock = document.createElement("p")
                    stock.innerText = item[3]
                    r.appendChild(stock)

                    document.getElementById("results").appendChild(r)


                }
            }
        };
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send("search_name="+`${search_name}`);

    }
</script>
</div>
{% endblock %}