{% extends "form_base.html" %}
{% from "includes/_formHelper.html" import render_field %}
{% block form %}
<script>

    function addCart(product_id, prod_name, price, max){
        console.log("Add cart "+product_id.toString())
        let cart=null
        try{cart = JSON.parse(localStorage["cart"])}
        catch{
            localStorage["cart"] = []
            cart=[]
        }
        var new_item = true
        for(i in cart){
            item = cart[i]
            if(product_id == item[0]){
                if(item[3] < max){
                    cart[i] = [Number(product_id), prod_name, Number(price), Number(item[3])+1, Number(max)]
                }
                else{
                    cart[i] = [Number(product_id), prod_name, Number(price), Number(max), Number(max)]
                }
                new_item = false
                break
            }
        }
        if(new_item){
            cart.push([Number(product_id), prod_name, Number(price), 1, Number(max)])
        }
        localStorage["cart"] = JSON.stringify(cart)
        loadCart()

        if (document.getElementById("checkoutButton") != null){
            console.log("Enable checkout button");
            document.getElementById("checkoutButton").removeAttribute("disabled")
        }

    }



    form_submit = function(e){
    e.preventDefault();
    search();
    }

    function search(){
        var xhttp = new XMLHttpRequest();
        const search_name = document.getElementById("search_name").value
        xhttp.open("POST", "rest/products", true);
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("results").innerText = this.responseText;
                console.log(JSON.parse(this.responseText))
                let results = JSON.parse(this.responseText)["result"]
                document.getElementById("results").innerHTML = ""
                for(i in results){
                    item = results[i]
                    for(i=0; i<item.length; i++){
                        item[i] = new Option(item[i]).innerText
                    }
                    console.log(item)
                    const r = document.createElement("div")
                    r.setAttribute("class", "row mb-4")
                    const pic_column = document.createElement("div")
                    pic_column.setAttribute("class", "col-6 align-self-center")
                    const pic = document.createElement("img")
                    pic.setAttribute("style", "width: inherit")
                    pic.setAttribute("src", "/static/images/products/Product%20"+item[0]+".png")
                    pic_column.appendChild(pic)
                    r.appendChild(pic_column)
                    const info_column = document.createElement("div")
                    info_column.setAttribute("class", "col-6 justify-content-center mb-3")
                    const name_row = document.createElement("div")
                    name_row.setAttribute("class", "row")
                    let product_name = document.createElement("h6")
                    product_name.innerText = item[1]
                    name_row.appendChild(product_name)
                    info_column.appendChild(name_row)
                    const desc_row = document.createElement("div")
                    desc_row.setAttribute("class", "row")
                    let description = document.createElement("p")
                    description.innerText = item[3]
                    desc_row.appendChild(description)
                    info_column.appendChild(desc_row)
                    const price_row = document.createElement("div")
                    price_row.setAttribute("class", "row")
                    let unit_price = document.createElement("p")
                    unit_price.innerText = "S$"+item[2]
                    price_row.appendChild(unit_price)
                    info_column.appendChild(price_row)
                    const stock_row = document.createElement("div")
                    stock_row.setAttribute("class", "row")
                    let stock = document.createElement("p")
                    stock.innerText = item[4]+" remaining"
                    stock_row.appendChild(stock)
                    info_column.appendChild(stock_row)
                    let btn_row = document.createElement("div")
                    btn_row.setAttribute("class", "row justify-content-center align-items-center")
                    let add_cart_btn = document.createElement("button")
                    add_cart_btn.innerText = "Add to Cart"
                    add_cart_btn.setAttribute("type", "button")
                    add_cart_btn.setAttribute("class", "btn btn-secondary")
                    add_cart_btn.setAttribute("onclick", "addCart("+item[0]+", '"+item[1]+"', "+item[2]+","+item[4]+")")
                    btn_row.appendChild(add_cart_btn)
                    info_column.appendChild(btn_row)
                    r.appendChild(info_column)

                    document.getElementById("results").appendChild(r)


                }
            }
            elif(this.statusCode == 429){
                setTimeout(search, 1000)
            }
        };
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send("search_name="+`${search_name}`);

    }
</script>
<div class="container-fluid">
<form onsubmit="form_submit(event)">
    {{ form.csrf_token }}
    <h3>Products</h3>
    <div class="form-group">
        <div class="row">
            {{ form.search_name(class="col-sm-8 col-md-10 form-control", placeholder="Product Name", id="search_name") }}

            <input type="button" value="Submit" id="search_btn" onclick="search()" class="btn btn-primary"/>
        </div>
    </div>
</form>
<div id="results"></div>

</div>
<script>search()</script>
{% endblock %}
